.main{
    background: url('../../../public/backgrounds/desktop.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.loading {
    background: #000; /* Remove a imagem de fundo enquanto carrega */
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 3rem;
    color: #ffffff;
    animation: spin .5s linear infinite;
}

@keyframes spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

@media screen and (max-width:481px) {
    .main{
        background: url('../../../public/backgrounds/cell.jpg') no-repeat center;
        background-size: cover;
    }
    .loading {
        background: #000; /* Remove a imagem de fundo enquanto carrega */
    }
}